html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
}
button {
    border: 1px solid #666;
    background-color: #ddd;
    border-radius: 0.25em;
    font-size: 100%;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25em;
    margin: 0.25em 0.5em;
}
button.primary {
    background-color: #6cf;
}

button:hover {
    background-color: #fff;
}
button:active {
    background-color: #4444ff;
}

button.selected {
    background-color: #2288ff;
    color: #eee;
}

button.selected:active {
    background-color: #4444ff;
}
button.selected:hover {
    background-color: #66aaff;
}



button.color-well {
    border: 1px solid black;

}

button:disabled {
    color: gray;
}
button:disabled:hover {
    background-color: #ddd;
}

label {
    padding: 0.25em;
    margin: 0.5em 0.5em;
    text-align: center;
    display: inline-block;
}



input {
    border: 1px solid gray;
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.5em 0.5em;
}

.panel {
    border: 1px solid gray;
    background-color: #eee;
    flex: 0;
}

.panel.left {
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.panel.right {
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
.panel.top {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
.panel.bottom {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}