/* resets */
body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 11pt;
}

button, input, input[type=search], .button {
    font-size: 100%;
    font-weight: normal;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 0;
    padding: 0.25em 0.5em;
    margin: 0.25em;
}

input[type=search] {
    -webkit-appearance: none;
    border-radius: 1em;
    padding-right: 0;
}



.grow {
    -webkit-flex: 1;
    flex: 1;
}

.scroll {
    overflow: scroll;
}


button.color-well {
    border: 2px solid #444;
    background-image: inherit;
}

button:disabled {
    color: gray;
    background-color: lightgrey;
}

.panel {
    border: 1px solid gray;
    background-color: #eee;
    min-width: 2.5em;
    min-height: 2.5em;
}

.panel.left {
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.panel.right {
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
.panel.top {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    align-items: baseline;
}
.panel.bottom {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    align-items: baseline;
}


.error {
    color: red;
}


#layers-panel {
    list-style: none;
    margin: 0;
    padding:0;
    min-width: 20em;
}

#layers-panel .layer {
    border: 1px solid gray;
    padding: 0.5em 1em;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
    border-width: 0px 0px 1px 0px;
    align-items: baseline;
}
#layers-panel .layer.selected {
    color: #eee;
    background-color: #2288ff;
    padding: 0.5em 1em;
    background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}

#layers-panel .active .layer {
    border-width: 1px;
}
#layers-panel .layer .opacity {
    max-width: 3em;
}

.tooltip-button {
    position: relative;
}

.tooltip-button .tooltip {
    white-space: nowrap;
    border: 1px solid black;
    display: block;
    position: absolute;
    left: 120%;
    top: 0;
    margin: 0;
    padding: 0.25em 0.5em;
    background-color: white;
    color: black;
    border-radius: 0.25em;
}


.dropdown-container {
    position: relative;
    padding:0;
    margin:0;
}

.dropdown-list {
    border: 1px solid gray;
    position: absolute;
    top: 100%;
    bottom: auto;
    background-color: white;
    left: 0.5em;
    margin:0em 0em;
    margin-top: -0.25em;
    padding: 0.5em 0;
    border-radius: 0em 0em 0.5em 0.5em;
    z-index: 2;
}
.dropdown-list.upper-left {
    top: auto;
    bottom: 100%;
    right: 0;
    left: auto;
    border-radius: 0.5em;
}
.dropdown-list.left {
    right: 0;
    left: auto;
}
.dropdown-list li {
    list-style: none;
    background-color: transparent;
    padding: 0.25em 0.5em;
    white-space: nowrap;
}
.dropdown-list li:hover {
    background-color: blue;
    color: white;
}

.dropdown-list li.disabled {
    background-color: #fff;
    color: #888;
}




.stick-left {
    margin-left: 0;
    padding-left: 0;
}


.swatch {
    display: inline-block;
    border: 1px solid black;
    border-width: 1px 1px 1px 0px;
    min-width: 32px;
    min-height: 32px;
}



.draglist {
    position: relative;
    padding:0;
}

.draglist .item-container.active {
    position: absolute;
    left: 10px;
    width: 100%;
    box-shadow: 0px 5px 5px darkgray;
}

.draglist .droptarget {
    background-color: darkgray;
}


input {
    border-radius: 0.2em;
}
input.digits5 {
    width: 5em;
}
input.invalid {
    border-color: #a2101f;
    border-width: 3px;
    background-color: #ffacb3;
}
label {
    margin: 0.25em;
}

.form > .hbox {
    align-items: center;
}


