.hbox {
    display: flex;
    flex-direction: row;
}
.vbox {
    display: flex;
    flex-direction: column;
}

.fill {
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}

.debug {
    border: 1px solid red;
}

.grow {
    flex: 1;
}