.hbox {
    display: flex;
    flex-direction: row;
}
.vbox {
    display: flex;
    flex-direction: column;
}

.fill {
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}

.debug {
    border: 1px solid red;
}

.grow {
    flex: 1;
}






.dialog {
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    margin: 0px;
    padding: 5em;
}
.dialog > .scrim {
    background-color: #eee;
    opacity: 0.8;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}

.dialog > .content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
}


.dialog.narrow > .content {
    max-width: 30em;
}

.dialog .body {
    background-color: #fff;
    border: 1px solid gray;
    padding: 0.8em;
}

.dialog header {
    background-color: #ccc;
    border: 1px solid gray;
    border-width: 1px 1px 0px 1px;
    padding: 0.8em;
    font-weight: normal;
    font-size: 150%;
}

.hbox .right {
    flex-direction: row-reverse;
}