#main-layout {
    border: 0px solid black;
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html, body, #root {
    margin: 0;
    padding:0;
}


#side-toolbar {
    grid-row: span 4;
    align-items: center;
    overflow-y: scroll;
}
#top-toolbar {
    grid-column-start: 1;
    grid-column: span 1;
    box-sizing: border-box;
    border: 0px solid black;
    border-bottom-width: 1px;
    align-items: center;
    overflow-x: scroll;
}
#options-toolbar {
    grid-column: 2;
    grid-row: 2;
}

#drawing-surface {
    grid-row: 3;
    grid-column: 2;
    background-color: #CCCCCC;
    background-image: url(images/alpha-bg@1.png);
}
#drawing-surface canvas {
    /*touch-action: none;*/
    /*user-select: none;*/
}

#recent-colors {
    grid-row: 4/5;
    grid-column: 2;
    overflow-y: hidden;
    box-sizing: border-box;
    background-color: #CCCCCC;
}

#bottom-toolbar {
    border: 0px solid red;
    grid-row: 4;
    grid-column: 4;
}

#preview-panel {
    border: 0px solid black;
    grid-row: 1/5;
    grid-column: preview;
    border-left-width: 1px;
}
#layers-panel-wrapper {
    border: 0px solid black;
    grid-row: 1/5;
    grid-column-start: layers;
    overflow: hidden;
    border-left-width: 1px;
}


header {
    box-sizing: border-box;
    padding:0.75em;
    height: 2.5em;
    background-color: #eee;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.layer input {
    width: 4em;
}

.grow {
    flex: 1.0;
}

.image-button {
    image-rendering: crisp-edges;
}

.hbox-center {
    align-items: center;
}
